#menu ul {
	list-style:none;
	margin:0;
	padding:0;
   }
   
   body{
    background: #0099F7;
	background: -webkit-linear-gradient(to right, #f11612c5, #0098f7bd), url("../images/fondoBiografia.jpg"); 
	background: linear-gradient(to right, #f11612c5, #0098f7bd), url("../images/fondoBiografia.jpg"); 

    
    }
   #menu ul a {
	display:block;
	color:rgb(255, 255, 255);
	text-decoration:none;
	font-weight:400;
	font-size:15px;
	padding:10px;
	font-family:"Roboto"	;
	text-transform:uppercase;
	letter-spacing:1.5px;
   }
   
   #menu ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
   }
   
   
   #menu ul li:hover {
	background:#0098f7bd;
   }

#menu ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#f11612c5;
	padding:0;
   }
   
   
   #menu ul ul li {
	float:none;
	width:150px
   }
   
   
   #menu ul ul a {
	line-height:120%;
	padding:10px 15px;
   }
   
   
   #menu ul li:hover > ul {
	display:block;
   }

   section{
	width: 100%;
	text-align: center;
	padding-top: 300px;
}
section h1{
	text-shadow: 10px 8px 5px #f1161256;
	font-size: 40px;
}
section p{
	font-size: 25px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	box-shadow: 10px 5px 10px #f11612c5;
	border-radius: 10px 10px;
	padding-top: 23px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 10px;
	margin: auto;
	text-align: justify;
	width: 80%;
	background-color: #0098f727;
	color: white;
}

#primer-imagen{
	height: 180px;
	top: 110%;
	right:6%;
	position: absolute;
}

#segunda-imagen{
	height: 180px;
	top: 37%;
	left:2%;
	position: absolute;
}

#tercera-imagen{
	height: 180px;
	top: 165%;
	right:6%;
	position: absolute;
}
#imagen-personal{
	box-shadow: 0px 1px 5px #0098f771;
	height: 200px;
	right: 44%;
	position: absolute;
	top: 13%;
}

footer p{
	text-align: center;
	width: 5%;
	position: fixed;
	bottom:0%;
	background: #0099F7;
	background: -webkit-linear-gradient(to right, #f11612c5, #0098f7bd);
	background: linear-gradient(to right, #f11612c5, #0098f7bd);
	color: white;
	font-size:large;
	padding: 20px;
}
