#menu ul {
	list-style:none;
	margin:0;
	padding:0;
   }
   
   body{
    background: #0099F7;
	background: -webkit-linear-gradient(to right, #f11612c5, #0098f7bd), url("../images/fondoBiografia.jpg"); 
	background: linear-gradient(to right, #f11612c5, #0098f7bd), url("../images/fondoBiografia.jpg"); 

    
    }
   #menu ul a {
	display:block;
	color:rgb(255, 255, 255);
	text-decoration:none;
	font-weight:400;
	font-size:15px;
	padding:10px;
	font-family:"Roboto"	;
	text-transform:uppercase;
	letter-spacing:1.5px;
   }
   
   #menu ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
   }
   
   
   #menu ul li:hover {
	background:#0098f7bd;
   }

#menu ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#f11612c5;
	padding:0;
   }
   
   
   #menu ul ul li {
	float:none;
	width:150px
   }
   
   
   #menu ul ul a {
	line-height:120%;
	padding:10px 15px;
   }
   
   
   #menu ul li:hover > ul {
	display:block;
   }

   section H1{
	   text-align: center;
	  padding-top: 300px;
	   position: relative;
   }
